#heroContainer {
    perspective: 30px;
}
  
#inner {
    background-color:#ffb81e;
    transition: tranform 0.5s;
    -webkit-transition: transform 0.5s;
    margin:1rem;

}
  
#heroBody {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color:black;
}

body {
    background-color:black;
    height:100%;
}

.demo-img {
    border:solid white 10px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url("带我飞.PNG");
}

#heroContainer:hover .demo-overlay {
    opacity:1;
}

#heroContainer:hover {
    cursor: pointer;
}

.demo-overlay {
    width:25em;
    padding:10rem 0;
    opacity:0;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.4s;
}

.demo-overlay svg {
    display:block;
    margin:0 auto;
    fill:white;
}


